@font-face {
  font-family: "iconfont"; /* Project id 4444803 */
  src: url('//at.alicdn.com/t/c/font_4444803_5y9c6td38hq.woff2?t=1709297548920') format('woff2'),
       url('//at.alicdn.com/t/c/font_4444803_5y9c6td38hq.woff?t=1709297548920') format('woff'),
       url('//at.alicdn.com/t/c/font_4444803_5y9c6td38hq.ttf?t=1709297548920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e602";
}

.icon-shifang:before {
  content: "\e7d2";
}

.icon-24gl-expand:before {
  content: "\eb6d";
}

.icon-suoxiao:before {
  content: "\e604";
}

.icon-weijianyi:before {
  content: "\e630";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-tiaoseban:before {
  content: "\e624";
}
